.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  background-color: #eee;
  transition-property: background;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.ngx-datatable.bootstrap.cell-selection .datatable-body-cell:hover,
.ngx-datatable.bootstrap.cell-selection .datatable-body-cell:hover .datatable-row-group {
  background-color: #eee;
  transition-property: background;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.ngx-datatable.bootstrap.cell-selection .datatable-body-cell.active:hover,
.ngx-datatable.bootstrap.cell-selection .datatable-body-cell.active:hover .datatable-row-group {
  background-color: #193AE4;
  color: #FFF;
}
