<dx-scheduler
  [dataSource]="dataSet"
  [views]='["timelineDay", "timelineWeek", "timelineMonth"]'
  currentView="timelineWeek"
  startDateExpr="start"
  endDateExpr="end"
  textExpr="code.coding[0].display"
  [firstDayOfWeek]="0"
  [startDayHour]="0"
  [endDayHour]="24"
  [cellDuration]="60"
  [groups]="['resourceType']"
  [currentDate]="currentDate"
  [height]="550">
  <dxi-resource
    fieldExpr="resourceType"
    [allowMultiple]="false"
    [dataSource]="resourceType"
    label="History"
  ></dxi-resource>
</dx-scheduler>
