<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="dx-field-label mat-h2"> 姓名</div>
        </div>
        <div class="col-md-8 text-left">
          <div class="mat-h2" *ngIf="patient"> {{patient?.name[0]?.text}}</div>
          <div class="mat-h2" *ngIf="!patient"> 沒有查詢到任何病人</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ngx-condition-list [dataSet]="conditions"
                              [loadingVisible]="conditionLoadingVisible"
                              (create)="onCreateCondition($event)"
                              (update)="onUpdateCondition($event)"
                              (delete)="onDeleteCondition($event)"
                              (rawdata)="onRawData($event)"
                              (refresh)="onLoadingConditions($event)"
          ></ngx-condition-list>
          <br />
          <br />
          <ngx-procedure-list [dataSet]="procedures"
                              [loadingVisible]="procedureLoadingVisible"
                              (create)="onCreateProcedure($event)"
                              (update)="onUpdateProcedure($event)"
                              (delete)="onDeleteProcedure($event)"
                              (rawdata)="onRawData($event)"
                              (refresh)="onLoadingProcedures($event)"
          ></ngx-procedure-list>

          <br/>
          <hr/>
          <dx-popup
            class="popup"
            [width]="600"
            [height]="600"
            [showTitle]="true"
            title="Resource"
            [dragEnabled]="false"
            [closeOnOutsideClick]="true"
            [(visible)]="popupVisible">
            <div *dxTemplate="let item of 'content'">
              <dx-scroll-view >
                <pre class="mat-h3">{{data | json}}</pre>
              </dx-scroll-view>
            </div>
          </dx-popup>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
