<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Health Board</span>
    <span class="spacer"></span>

    <button
      mat-button
      *ngIf="!auth.isAuthenticated()"
      (click)="auth.login()">
      Log In
    </button>

    <button
      mat-button
      *ngIf="auth.isAuthenticated()"
      (click)="auth.logout()">
      Log Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<main class="container">
  <mat-grid-list cols="5">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
    >
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="4"
      [rowspan]="1"
    >
      <router-outlet></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>

</main>
