<nb-card>
  <nb-card-header>
    <dx-toolbar [items]="items"></dx-toolbar>
  </nb-card-header>
  <nb-card-body>
    <div class="form">
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-label mat-h2">數值</div>
          <div class="dx-field-value">
            <dx-number-box
              class="mat-h2"
              [(value)]="value"
              [format]="format"
              [showSpinButtons]="true"
              [showClearButton]="true"
              (onValueChanged)="onUpdate($event)">
            </dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label mat-h2">測量日期時間</div>
          <div class="dx-field-value">
            <dx-date-box
              class="mat-h2"
              type="datetime"
              displayFormat="yyyy-MM-dd'T'hh:mm:ss"
              [(value)]="now"
              [showClearButton]="true"
              (onValueChanged)="onUpdate($event)">
            </dx-date-box>
          </div>
        </div>
        <hr />
        <div class="dx-field">
          <div class="mat-h2">
            <pre>{{data | json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
