<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ngb-tabset type="pills" [orientation]="vertical" (tabChange)="onSelectClassification($event.nextId)">
            <ng-container *ngFor="let item of classifications">
              <ngb-tab [id]="item.class">
                <ng-template ngbTabTitle> <span class="mat-h3">{{item.class}}</span> </ng-template>
              </ngb-tab>
            </ng-container>
          </ngb-tabset>
        </div>
        <div class="col-md-9">
          <ngx-lab-form [classification]="selectedClassification" (resource)="onSave($event)"></ngx-lab-form>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
