<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="dx-field-label mat-h2"> 姓名</div>
        </div>
        <div class="col-md-8 text-left">
          <div class="mat-h2" *ngIf="patient"> {{patient?.name[0]?.text}}</div>
          <div class="mat-h2" *ngIf="!patient"> 沒有查詢到任何病人</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ngx-observation-list [dataSet]="dataSet"></ngx-observation-list>
          <br/>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ngb-tabset type="pills" [orientation]="'vertical'"
                      (tabChange)="onSelectClassification($event.nextId)">
            <ng-container *ngFor="let item of classifications">
              <ngb-tab [id]="item.class">
                <ng-template ngbTabTitle><span class="mat-h3">{{item.class}}</span></ng-template>
              </ngb-tab>
            </ng-container>
          </ngb-tabset>
        </div>
        <div class="col-md-9">
          <ngx-lab-form [classification]="selectedClassification" [subject]="patient"
                        (resource)="onSave($event)"></ngx-lab-form>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
