<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="dx-field-label mat-h2">身份證字號</div>
    </div>
    <div class="col-md-6 text-left">
      <dx-text-box
        class="mat-h2"
        value="A123456789"
        #identifier
        [showClearButton]="true"
        valueChangeEvent="blur"
        (onValueChanged)="findPatient($event.value)">
      </dx-text-box>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" *ngIf="!patient" (click)="findPatient(identifier.value)">登入</button>
      <button class="btn btn-info" *ngIf="patient" (click)="logout()">登出</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="dx-field-label mat-h2"> 姓名</div>
    </div>
    <div class="col-md-8 text-left">
      <div class="mat-h2" *ngIf="patient"> {{patient?.name[0]?.text}} </div>
      <div class="mat-h2" *ngIf="!patient"> 沒有查詢到任何病人 </div>
    </div>
  </div>
</div>
<nb-card>
  <nb-card-body>

    <dx-data-grid id="gridContainer"
                  [dataSource]="dataSource"
                  [showRowLines]="true"
                  [showColumnLines]="true"
                  [showBorders]="true">

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

      <dxi-column [groupIndex]="0" dataField="code.coding[0].code" caption="編碼" dataType="string"></dxi-column>
      <dxi-column dataField="effectiveDateTime" caption="測量日期時間" dataType="datetime" format="yyyy-MM-dd'T'hh:mm:ss"></dxi-column>
      <dxi-column dataField="valueQuantity.value" caption="數值" dataType="string"></dxi-column>
      <dxi-column dataField="valueQuantity.unit" caption="單位" dataType="string"></dxi-column>
      <dxi-column dataField="subject.reference" caption="被執行處置者" dataType="string"></dxi-column>

    </dx-data-grid>
  </nb-card-body>
</nb-card>
