
<nb-card>
  <nb-card-header>
    個案資料
  </nb-card-header>

  <nb-card-body>

    <dx-data-grid id="gridContainer"
                  [dataSource]="dataSource"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true">

      <dxo-paging [pageSize]="10"></dxo-paging>

      <dxi-column dataField="identifier[0].value" dataType="string" ></dxi-column>
      <dxi-column dataField="name[0].text" dataType="string" ></dxi-column>
      <dxi-column dataField="gender" dataType="string" ></dxi-column>
      <dxi-column dataField="birthDate" dataType="string" ></dxi-column>
      <dxi-column dataField="address.text" dataType="string" ></dxi-column>
      <dxi-column dataField="telecom.system" dataType="string" ></dxi-column>
      <dxi-column dataField="contact.name.text" dataType="string" ></dxi-column>
      <dxi-column dataField="contact.relationship.text" dataType="string" ></dxi-column>
      <dxi-column dataField="contact.telecom" dataType="string" ></dxi-column>

    </dx-data-grid>
  </nb-card-body>
</nb-card>
