
<nb-card>
  <nb-card-body>

    <dx-data-grid id="gridContainer"
                  [dataSource]="dataSource"
                  [showBorders]="true">

      <dxo-paging [pageSize]="10"></dxo-paging>

      <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true">
        <dxo-popup title="個案資訊" [showTitle]="true" [width]="700" [height]="400">

        </dxo-popup>
      </dxo-editing>
      <dxi-column dataField="id" dataType="string" [width]="100"></dxi-column>
      <dxi-column dataField="identifier[0].value" dataType="string" [setCellValue]="setIdentifier" ></dxi-column>
      <dxi-column dataField="name[0].text" dataType="string" ></dxi-column>
      <dxi-column dataField="gender" dataType="string" ></dxi-column>
      <dxi-column dataField="birthDate" dataType="string" ></dxi-column>
      <dxi-column dataField="address.text" dataType="string" ></dxi-column>
      <dxi-column dataField="telecom.system" dataType="string" ></dxi-column>
      <dxi-column dataField="contact.name.text" dataType="string" ></dxi-column>
      <dxi-column dataField="contact.relationship.text" dataType="string" ></dxi-column>
      <dxi-column dataField="contact.telecom" dataType="string" ></dxi-column>

    </dx-data-grid>
  </nb-card-body>
</nb-card>
